body {
  background-color: pink;
  min-height: 100vh;
}
h1 { 
  font-family: cursive;
  color: deeppink;
}
p{
  word-spacing: 20px;
  font-size: 30px;
  color: cornflowerblue;
  text-indent: 40px;
}
h1:hover { 
  font-family: Georgia;
  color: blue;
}
h3 {
  font-size: xx-large;
  color: darkmagenta;
}